In [ ]:
import pandas as pd
import numpy as np
import math

In [343]:
data = pd.read_csv('KMLJ_2015.csv')
data.head()

,Station_ID,Date_Time,altimeter_set_1,air_temp_set_1,dew_point_temperature_set_1,relative_humidity_set_1,wind_speed_set_1,wind_direction_set_1,wind_gust_set_1,cloud_layer_1_code_set_1,...,cloud_layer_3_code_set_1,ceiling_set_1,dew_point_temperature_set_1d,wind_chill_set_1d,wind_cardinal_direction_set_1d,pressure_set_1d,sea_level_pressure_set_1d,heat_index_set_1d,weather_condition_set_1d,Unnamed: 22
0,KMLJ,01/01/2015 01:15 EST,30.36,35.6,35.6,100.0,0.0,0.0,NaN,481.0,...,NaN,NaN,35.6,NaN,N,29.94,30.04,NaN,Mist,NaN
1,KMLJ,01/01/2015 01:35 EST,30.37,35.6,35.6,100.0,0.0,0.0,NaN,12.0,...,NaN,NaN,35.6,NaN,N,29.95,30.05,NaN,Mist,NaN
2,KMLJ,01/01/2015 01:55 EST,30.37,35.6,35.6,100.0,0.0,0.0,NaN,14.0,...,NaN,100.0,35.6,NaN,N,29.95,30.05,NaN,Fog,NaN
3,KMLJ,01/01/2015 02:15 EST,30.36,35.6,35.6,100.0,0.0,0.0,NaN,14.0,...,NaN,100.0,35.6,NaN,N,29.94,30.04,NaN,Fog,NaN
4,KMLJ,01/01/2015 02:35 EST,30.36,35.6,35.6,100.0,0.0,0.0,NaN,14.0,...,NaN,100.0,35.6,NaN,N,29.94,30.04,NaN,Fog,NaN

In [344]:
data2 = (data['wind_gust_set_1'].values)
sum1 = 0
count = 0
print(len(data2))
for i in data2:
    if not math.isnan(i):
        sum1 += i
        count +=1
 
# print(math.isnan(2))
print(sum1)
print(count)

26086
11123.720000000038
566

In [345]:
data['Date_Time'] = pd.to_datetime(data["Date_Time"])

In [346]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26086 entries, 0 to 26085
Data columns (total 23 columns):
Station_ID                        26086 non-null object
Date_Time                         26086 non-null datetime64[ns, tzlocal()]
altimeter_set_1                   26083 non-null float64
air_temp_set_1                    26083 non-null float64
dew_point_temperature_set_1       25853 non-null float64
relative_humidity_set_1           26083 non-null float64
wind_speed_set_1                  26083 non-null float64
wind_direction_set_1              26083 non-null float64
wind_gust_set_1                   566 non-null float64
cloud_layer_1_code_set_1          26079 non-null float64
cloud_layer_2_code_set_1          9472 non-null float64
visibility_set_1                  26078 non-null float64
weather_cond_code_set_1           4301 non-null float64
cloud_layer_3_code_set_1          4480 non-null float64
ceiling_set_1                     8750 non-null float64
dew_point_temperature_set_1d      26083 non-null float64
wind_chill_set_1d                 264 non-null float64
wind_cardinal_direction_set_1d    26083 non-null object
pressure_set_1d                   26083 non-null float64
sea_level_pressure_set_1d         26083 non-null float64
heat_index_set_1d                 4226 non-null float64
weather_condition_set_1d          21755 non-null object
Unnamed: 22                       20 non-null object
dtypes: datetime64[ns, tzlocal()](1), float64(18), object(4)
memory usage: 4.6+ MB

In [347]:
columns_name = []
for i in data.columns:
    columns_name.append(i)
print(columns_name)

['Station_ID', 'Date_Time', 'altimeter_set_1', 'air_temp_set_1', 'dew_point_temperature_set_1', 'relative_humidity_set_1', 'wind_speed_set_1', 'wind_direction_set_1', 'wind_gust_set_1', 'cloud_layer_1_code_set_1', 'cloud_layer_2_code_set_1', 'visibility_set_1', 'weather_cond_code_set_1', 'cloud_layer_3_code_set_1', 'ceiling_set_1', 'dew_point_temperature_set_1d', 'wind_chill_set_1d', 'wind_cardinal_direction_set_1d', 'pressure_set_1d', 'sea_level_pressure_set_1d', 'heat_index_set_1d', 'weather_condition_set_1d', 'Unnamed: 22']

In [348]:
data['Date_Time'].describe()

count                         26086
unique                        26086
top       2015-01-30 09:15:00-05:00
freq                              1
first     2015-01-01 01:15:00-05:00
last      2016-01-01 00:55:00-05:00
Name: Date_Time, dtype: object

In [349]:
data.columns

Index(['Station_ID', 'Date_Time', 'altimeter_set_1', 'air_temp_set_1',
       'dew_point_temperature_set_1', 'relative_humidity_set_1',
       'wind_speed_set_1', 'wind_direction_set_1', 'wind_gust_set_1',
       'cloud_layer_1_code_set_1', 'cloud_layer_2_code_set_1',
       'visibility_set_1', 'weather_cond_code_set_1',
       'cloud_layer_3_code_set_1', 'ceiling_set_1',
       'dew_point_temperature_set_1d', 'wind_chill_set_1d',
       'wind_cardinal_direction_set_1d', 'pressure_set_1d',
       'sea_level_pressure_set_1d', 'heat_index_set_1d',
       'weather_condition_set_1d', 'Unnamed: 22'],
      dtype='object')

In [350]:
data.describe()

,altimeter_set_1,air_temp_set_1,dew_point_temperature_set_1,relative_humidity_set_1,wind_speed_set_1,wind_direction_set_1,wind_gust_set_1,cloud_layer_1_code_set_1,cloud_layer_2_code_set_1,visibility_set_1,weather_cond_code_set_1,cloud_layer_3_code_set_1,ceiling_set_1,dew_point_temperature_set_1d,wind_chill_set_1d,pressure_set_1d,sea_level_pressure_set_1d,heat_index_set_1d
count,26083.000000,26083.000000,25853.000000,26083.000000,26083.000000,26083.000000,566.000000,26079.000000,9472.000000,26078.000000,4301.000000,4480.000000,8750.000000,26083.000000,264.000000,26083.000000,26083.000000,4226.000000
mean,30.087442,64.842978,56.529169,77.163482,1.628839,58.944140,19.653216,350.315580,499.188872,8.978344,31.993490,663.057589,3098.388571,56.329121,32.801326,29.672313,29.081265,89.874621
std,0.167240,15.456375,14.441560,19.880867,2.760599,110.181606,3.471485,342.173624,307.165365,2.320427,168.259004,311.076665,3154.343530,14.627596,8.218257,0.163367,0.562937,5.562189
min,29.620000,19.400000,1.400000,18.970000,0.000000,0.000000,9.220000,1.000000,53.000000,0.250000,1.000000,94.000000,0.000000,1.110000,12.970000,29.210000,27.820000,79.510000
25%,29.970000,53.600000,46.400000,62.350000,0.000000,0.000000,17.270000,64.000000,253.000000,10.000000,9.000000,423.000000,700.000000,46.380000,26.312500,29.560000,28.610000,85.330000
50%,30.080000,68.000000,60.800000,82.890000,0.000000,0.000000,18.410000,241.000000,443.000000,10.000000,17.000000,604.000000,1700.000000,60.790000,35.980000,29.660000,29.000000,89.450000
75%,30.190000,75.200000,68.000000,93.890000,3.440000,60.000000,21.850000,552.000000,700.000000,10.000000,31.000000,900.000000,5000.000000,68.030000,39.620000,29.770000,29.510000,93.530000
max,30.640000,100.400000,78.800000,100.000000,23.020000,360.000000,35.680000,2501.000000,2500.000000,10.000000,2485.000000,2600.000000,12000.000000,78.820000,41.880000,30.220000,30.550000,105.220000

In [351]:
data.size

599978

In [352]:
data_size = len(data['Date_Time'].values)

In [353]:
data.shape[1]

23

In [354]:
print(sum1)

11123.720000000038

In [355]:
print(count)

566

In [356]:
meu1 = sum1/count
print(meu1)

19.653215547703248

In [357]:
# data2 = (data['wind_gust_set_1'].values)
print(len(data2))
wind_gust_set_1 = []
for i in data2:
    if math.isnan(i):
        wind_gust_set_1.append(round(meu1,2))
    else:
        wind_gust_set_1.append(i)
# print(wind_gust_set_1)

26086

In [358]:
data.drop(columns='wind_gust_set_1')
data['wind_gust_set_1'] = wind_gust_set_1

In [359]:
# cloud_layer_2_code_set_1
sum2 = 0
count1 = 0
data3 = data['cloud_layer_2_code_set_1']
print(len(data['cloud_layer_2_code_set_1']))
for i in data3:
    if not math.isnan(i):
        sum2 += i
        count1 +=1
print(sum2)
print(count1)
meu2 = sum2/count1
# print(data3)
print(round(meu2,0))

26086
4728317.0
9472
499.0

In [360]:
cloud_layer_2_code_set_1 = []
for i in data3:
    if math.isnan(i):
        cloud_layer_2_code_set_1.append(round(meu2,0))
    else:
        cloud_layer_2_code_set_1.append(i)
# print(cloud_layer_2_code_set_1)
data.drop(columns='cloud_layer_2_code_set_1')
data['cloud_layer_2_code_set_1'] = cloud_layer_2_code_set_1

In [361]:
# heat_index_set_1d
sum3 = 0
count2 = 0
data4 = data['heat_index_set_1d']
print(len(data['heat_index_set_1d']))
for i in data4:
    if not math.isnan(i):
        sum3 += i
        count2 +=1
        
print(sum3)
print(count2)
meu3 = sum3/count2
# print(data4)
print(round(meu3,2))

26086
379810.14999999915
4226
89.87

In [362]:
heat_index_set_1d = []
for i in data4:
    if math.isnan(i):
        heat_index_set_1d.append(round(meu3,2))
    else:
        heat_index_set_1d.append(i)
# print(heat_index_set_1d)

In [363]:
data.drop(columns='heat_index_set_1d')
data['heat_index_set_1d'] = heat_index_set_1d

In [364]:
# sea_level_pressure_set_1d
sum4 = 0
count3 = 0
data5 = data['sea_level_pressure_set_1d']
for i in data4:
    if math.isnan(i):
        sum4 += i
        count3 +=1
        
print(count3)

0

In [365]:
# pressure_set_1d
sum5 = 0
count4 = 0
data6 = data['pressure_set_1d']
for i in data6:
    if not math.isnan(i):
        sum5 += i
        count4 +=1
print(len(data['pressure_set_1d']))
print(count4)
meu5 = sum5/count4
print(meu5)

26086
26083
29.672312617413944

In [366]:
pressure_set_1d = []
for i in data6:
    if math.isnan(i):
        pressure_set_1d.append(round(meu5,2))
    else:
        pressure_set_1d.append(i)
# print(pressure_set_1d)

In [367]:
data.drop(columns='pressure_set_1d')
data['pressure_set_1d'] = pressure_set_1d

In [368]:
# wind_chill_set_1d
sum6 = 0
count5 = 0
data7 = data['wind_chill_set_1d']
# print((data['sea_level_pressure_set_1d']))
for i in data7:
    if not math.isnan(i):
        sum6 += i
        count5 +=1
        
print(count5)
meu6 = sum6/count5
print(meu6)

264
32.801325757575746

In [369]:
wind_chill_set_1d = []
for i in data7:
    if math.isnan(i):
        wind_chill_set_1d.append(round(meu6,2))
    else:
        wind_chill_set_1d.append(i)
# print(wind_chill_set_1d)

In [370]:
data.drop(columns='wind_chill_set_1d')
data['wind_chill_set_1d'] = wind_chill_set_1d

In [371]:
# dew_point_temperature_set_1d
sum7 = 0
count6 = 0
data8 = data['wind_chill_set_1d']
for i in data8:
    if not math.isnan(i):
        sum7 += i
        count6 +=1
        
print(count6)
meu7 = sum7/count6
print(meu7)

26086
32.80001341717159

In [372]:
dew_point_temperature_set_1d = []
for i in data8:
    if math.isnan(i):
        dew_point_temperature_set_1d.append(round(meu7,2))
    else:
        dew_point_temperature_set_1d.append(i)
# print(dew_point_temperature_set_1d)

In [373]:
data.drop(columns='dew_point_temperature_set_1d')
data['dew_point_temperature_set_1d'] = dew_point_temperature_set_1d

In [374]:
# ceiling_set_1
sum8 = 0
count7 = 0
data9 = data['ceiling_set_1']
# print((data['sea_level_pressure_set_1d']))
for i in data9:
    if not math.isnan(i):
        sum8 += i
        count7 +=1
        
print(count7)
meu8 = sum8/count7
print(meu7)

8750
32.80001341717159

In [375]:
ceiling_set_1 = []
for i in data9:
    if math.isnan(i):# ceiling_set_1
sum8 = 0
count7 = 0
data9 = data['ceiling_set_1']
# print((data['sea_level_pressure_set_1d']))
for i in data9:
    if not math.isnan(i):
        sum8 += i
        count7 +=1
        
print(count7)
meu8 = sum8/count7
print(meu7)
        ceiling_set_1.append(round(meu8,0))
    else:
        ceiling_set_1.append(i)
# print(ceiling_set_1)

In [376]:
data.drop(columns='ceiling_set_1')
data['ceiling_set_1'] = ceiling_set_1

In [377]:
# cloud_layer_3_code_set_1
sum9 = 0
count8 = 0
data10 = data['cloud_layer_3_code_set_1']
for i in data10:
    if not math.isnan(i):
        sum9 += i
        count8 +=1
        
print(count8)
meu9 = sum9/count8
print(meu9)

cloud_layer_3_code_set_1 = []
for i in data10:
    if math.isnan(i):
        cloud_layer_3_code_set_1.append(round(meu9,0))
    else:
        cloud_layer_3_code_set_1.append(i)
# print(cloud_layer_3_code_set_1)

data.drop(columns='cloud_layer_3_code_set_1')
data['cloud_layer_3_code_set_1'] = cloud_layer_3_code_set_1

4480
663.0575892857142

In [378]:
# weather_cond_code_set_1
sum10 = 0
count9 = 0
data11 = data['weather_cond_code_set_1']
# print((data['sea_level_pressure_set_1d']))
for i in data11:
    if not math.isnan(i):
        sum10 += i
        count9 +=1
        
print(count9)
meu10 = sum10/count9
print(meu10)

weather_cond_code_set_1 = []
for i in data11:
    if math.isnan(i):
        weather_cond_code_set_1.append(round(meu10,0))
    else:
        weather_cond_code_set_1.append(i)
# print(weather_cond_code_set_1)

data.drop(columns='weather_cond_code_set_1')
data['weather_cond_code_set_1'] = weather_cond_code_set_1

4301
31.993489886073007

In [379]:
# visibility_set_1
sum11 = 0
count10 = 0
data12 = data['visibility_set_1']
# print(data12)
for i in data12:
    if not math.isnan(i):
        sum11 += i
        count10 +=1
        
print(count10)
meu11 = sum11/count10
print(meu11)

visibility_set_1 = []
for i in data12:
    if math.isnan(i):
        visibility_set_1.append(round(meu11,0))
    else:
        visibility_set_1.append(i)
# print(visibility_set_1)

data.drop(columns='visibility_set_1')
data['visibility_set_1'] = visibility_set_1

26078
8.978343814709717

In [380]:
# cloud_layer_2_code_set_1
sum12 = 0
count11 = 0
data13 = data['cloud_layer_2_code_set_1']
# print(data13)
for i in data13:
    if not math.isnan(i):
        sum12 += i
        count11 +=1
        
print(count11)
meu12 = sum12/count11
print(meu12)

cloud_layer_2_code_set_1 = []
for i in data13:
    if math.isnan(i):
        cloud_layer_2_code_set_1.append(round(meu12,0))
    else:
        cloud_layer_2_code_set_1.append(i)
# print(cloud_layer_2_code_set_1)

data.drop(columns='cloud_layer_2_code_set_1')
data['cloud_layer_2_code_set_1'] = cloud_layer_2_code_set_1

26086
499.0685808479644

In [381]:
# cloud_layer_1_code_set_1
sum13 = 0
count12 = 0
data14 = data['cloud_layer_1_code_set_1']
# print(data14)
for i in data14:
    if not math.isnan(i):
        sum13 += i
        count12 +=1
        
print(count12)
meu13 = sum13/count12
print(meu13)

cloud_layer_1_code_set_1 = []
for i in data14:
    if math.isnan(i):
        cloud_layer_1_code_set_1.append(round(meu13,0))
    else:
        cloud_layer_1_code_set_1.append(i)
# print(cloud_layer_1_code_set_1)

data.drop(columns='cloud_layer_1_code_set_1')
data['cloud_layer_1_code_set_1'] = cloud_layer_1_code_set_1

26079
350.3155795851068

In [382]:
# wind_gust_set_1
sum14 = 0
count13 = 0
data15 = data['wind_gust_set_1']
# print(data15)
for i in data15:
    if not math.isnan(i):
        sum14 += i
        count13 +=1
        
print(count13)
meu14 = sum14/count13
print(meu14)

wind_gust_set_1 = []
for i in data15:
    if math.isnan(i):
        wind_gust_set_1.append(round(meu14,2))
    else:
        wind_gust_set_1.append(i)
# print(wind_gust_set_1)

data.drop(columns='wind_gust_set_1')
data['wind_gust_set_1'] = wind_gust_set_1

26086
19.650069769234086

In [383]:
# wind_direction_set_1
sum15 = 0
count14 = 0
data16 = data['wind_direction_set_1']
# print(data16)
for i in data16:
    if not math.isnan(i):
        sum15 += i
        count14 +=1
        
print(count14)

meu15 = sum15/count14
print(meu15)

wind_direction_set_1 = []
for i in data16:
    if math.isnan(i):
        wind_direction_set_1.append(round(meu15,0))
    else:
        wind_direction_set_1.append(i)
# print(wind_direction_set_1)

data.drop(columns='wind_direction_set_1')
data['wind_direction_set_1'] = wind_direction_set_1

26083
58.944139861212285

In [384]:
# wind_speed_set_1
sum16 = 0
count15 = 0
data17 = data['wind_speed_set_1']
# print(data17)
for i in data17:
    if not math.isnan(i):
        sum16 += i
        count15 +=1
        
print(count15)

meu16 = sum16/count15
print(meu16)

wind_speed_set_1 = []
for i in data17:
    if math.isnan(i):
        wind_speed_set_1.append(round(meu16,0))
    else:
        wind_speed_set_1.append(i)
# print(wind_speed_set_1)

data.drop(columns='wind_speed_set_1')
data['wind_speed_set_1'] = wind_speed_set_1

26083
1.6288387072039956

In [385]:
# relative_humidity_set_1
sum17 = 0
count16 = 0
data18 = data['relative_humidity_set_1']
# print(data18)
for i in data18:
    if not math.isnan(i):
        sum17 += i
        count16 +=1
        
print(count16)

meu17 = sum17/count16
print(meu17)

relative_humidity_set_1 = []
for i in data18:
    if math.isnan(i):
        relative_humidity_set_1.append(round(meu17,2))
    else:
        relative_humidity_set_1.append(i)
# print(relative_humidity_set_1)

data.drop(columns='relative_humidity_set_1')
data['relative_humidity_set_1'] = relative_humidity_set_1

26083
77.16348234482525

In [386]:
# dew_point_temperature_set_1
sum18 = 0
count17 = 0
data19 = data['dew_point_temperature_set_1']
# print(data19)
for i in data19:
    if not math.isnan(i):
        sum18 += i
        count17 +=1
        
print(count17)

meu18 = sum18/count17
print(meu18)

dew_point_temperature_set_1 = []
for i in data19:
    if math.isnan(i):
        dew_point_temperature_set_1.append(round(meu18,1))
    else:
        dew_point_temperature_set_1.append(i)
# print(dew_point_temperature_set_1)

data.drop(columns='dew_point_temperature_set_1')
data['dew_point_temperature_set_1'] = dew_point_temperature_set_1

25853
56.529168761848254

In [387]:
# air_temp_set_1
sum19 = 0
count18 = 0
data20 = data['air_temp_set_1']
# print(data20)
for i in data20:
    if not math.isnan(i):
        sum19 += i
        count18 +=1
        
print(count18)

meu19 = sum19/count18
print(meu19)

air_temp_set_1 = []
for i in data20:
    if math.isnan(i):
        air_temp_set_1.append(round(meu18,1))
    else:
        air_temp_set_1.append(i)
# print(air_temp_set_1)

data.drop(columns='air_temp_set_1')
data['air_temp_set_1'] = air_temp_set_1

26083
64.84297818502768

In [388]:
# altimeter_set_1
sum20 = 0
count19 = 0
data21 = data['altimeter_set_1']
# print(data21)
for i in data21:
    if not math.isnan(i):
        sum20 += i
        count19 +=1
        
print(count19)

meu20 = sum20/count19
print(meu20)

altimeter_set_1 = []
for i in data21:
    if math.isnan(i):
        altimeter_set_1.append(round(meu20,2))
    else:
        altimeter_set_1.append(i)
# print(altimeter_set_1)

data.drop(columns='altimeter_set_1')
data['altimeter_set_1'] = altimeter_set_1

26083
30.087442012037872

In [389]:
cat1 = pd.get_dummies(data['weather_condition_set_1d'])

In [390]:
cat1.head()

,Clear,Drizzle,Fog,Haze,Heavy Drizzle,Heavy Rain,Heavy Rain/Thunderstorm,Light Drizzle,Light Rain,Light Rain/Thunderstorm,Mist,Mostly Cloudy,Overcast,Partly Cloudy,Rain,Thunder,Thunderstorm,Unknown Precip
0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [391]:
data = data.join(cat1)

In [392]:
data.head()

,Station_ID,Date_Time,altimeter_set_1,air_temp_set_1,dew_point_temperature_set_1,relative_humidity_set_1,wind_speed_set_1,wind_direction_set_1,wind_gust_set_1,cloud_layer_1_code_set_1,...,Light Rain,Light Rain/Thunderstorm,Mist,Mostly Cloudy,Overcast,Partly Cloudy,Rain,Thunder,Thunderstorm,Unknown Precip
0,KMLJ,2015-01-01 01:15:00-05:00,30.36,35.6,35.6,100.0,0.0,0.0,19.65,481.0,...,0,0,1,0,0,0,0,0,0,0
1,KMLJ,2015-01-01 01:35:00-05:00,30.37,35.6,35.6,100.0,0.0,0.0,19.65,12.0,...,0,0,1,0,0,0,0,0,0,0
2,KMLJ,2015-01-01 01:55:00-05:00,30.37,35.6,35.6,100.0,0.0,0.0,19.65,14.0,...,0,0,0,0,0,0,0,0,0,0
3,KMLJ,2015-01-01 02:15:00-05:00,30.36,35.6,35.6,100.0,0.0,0.0,19.65,14.0,...,0,0,0,0,0,0,0,0,0,0
4,KMLJ,2015-01-01 02:35:00-05:00,30.36,35.6,35.6,100.0,0.0,0.0,19.65,14.0,...,0,0,0,0,0,0,0,0,0,0

In [334]:
data.shape[1]

41

In [393]:
cat2 = pd.get_dummies(data['wind_cardinal_direction_set_1d'])

In [394]:
data = data.join(cat2)

In [395]:
data.shape[1]

57

In [396]:
data = data.drop(columns = 'wind_cardinal_direction_set_1d')
data = data.drop(columns = 'Station_ID')
data = data.drop(columns = 'weather_condition_set_1d')

In [397]:
data.head()

,Date_Time,altimeter_set_1,air_temp_set_1,dew_point_temperature_set_1,relative_humidity_set_1,wind_speed_set_1,wind_direction_set_1,wind_gust_set_1,cloud_layer_1_code_set_1,cloud_layer_2_code_set_1,...,NNW,NW,S,SE,SSE,SSW,SW,W,WNW,WSW
0,2015-01-01 01:15:00-05:00,30.36,35.6,35.6,100.0,0.0,0.0,19.65,481.0,499.0,...,0,0,0,0,0,0,0,0,0,0
1,2015-01-01 01:35:00-05:00,30.37,35.6,35.6,100.0,0.0,0.0,19.65,12.0,499.0,...,0,0,0,0,0,0,0,0,0,0
2,2015-01-01 01:55:00-05:00,30.37,35.6,35.6,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
3,2015-01-01 02:15:00-05:00,30.36,35.6,35.6,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
4,2015-01-01 02:35:00-05:00,30.36,35.6,35.6,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0

In [398]:
data.shape[1]
data.head(20)

,Date_Time,altimeter_set_1,air_temp_set_1,dew_point_temperature_set_1,relative_humidity_set_1,wind_speed_set_1,wind_direction_set_1,wind_gust_set_1,cloud_layer_1_code_set_1,cloud_layer_2_code_set_1,...,NNW,NW,S,SE,SSE,SSW,SW,W,WNW,WSW
0,2015-01-01 01:15:00-05:00,30.36,35.6,35.6,100.0,0.0,0.0,19.65,481.0,499.0,...,0,0,0,0,0,0,0,0,0,0
1,2015-01-01 01:35:00-05:00,30.37,35.6,35.6,100.0,0.0,0.0,19.65,12.0,499.0,...,0,0,0,0,0,0,0,0,0,0
2,2015-01-01 01:55:00-05:00,30.37,35.6,35.6,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
3,2015-01-01 02:15:00-05:00,30.36,35.6,35.6,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
4,2015-01-01 02:35:00-05:00,30.36,35.6,35.6,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
5,2015-01-01 02:55:00-05:00,30.36,35.6,35.6,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
6,2015-01-01 03:15:00-05:00,30.37,35.6,35.6,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
7,2015-01-01 03:35:00-05:00,30.36,35.6,35.6,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
8,2015-01-01 03:55:00-05:00,30.36,35.6,35.6,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
9,2015-01-01 04:15:00-05:00,30.36,33.8,33.8,100.0,0.0,0.0,19.65,13.0,499.0,...,0,0,0,0,0,0,0,0,0,0
10,2015-01-01 04:35:00-05:00,30.35,33.8,33.8,100.0,0.0,0.0,19.65,121.0,499.0,...,0,0,0,0,0,0,0,0,0,0
11,2015-01-01 04:55:00-05:00,30.33,33.8,33.8,100.0,0.0,0.0,19.65,601.0,499.0,...,0,0,0,0,0,0,0,0,0,0
12,2015-01-01 05:15:00-05:00,30.33,33.8,33.8,100.0,0.0,0.0,19.65,601.0,499.0,...,0,0,0,0,0,0,0,0,0,0
13,2015-01-01 05:35:00-05:00,30.32,32.0,32.0,100.0,0.0,0.0,19.65,13.0,499.0,...,0,0,0,0,0,0,0,0,0,0
14,2015-01-01 05:55:00-05:00,30.32,33.8,33.8,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
15,2015-01-01 06:15:00-05:00,30.33,33.8,33.8,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
16,2015-01-01 06:35:00-05:00,30.35,33.8,33.8,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
17,2015-01-01 06:55:00-05:00,30.35,33.8,33.8,100.0,0.0,0.0,19.65,13.0,499.0,...,0,0,0,0,0,0,0,0,0,0
18,2015-01-01 07:15:00-05:00,30.35,33.8,33.8,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
19,2015-01-01 07:35:00-05:00,30.36,33.8,33.8,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0

In [399]:
# for i in range(0,data.shape[0]-2):
#     for col in data.columns:
#         if(col != 'Date_Time'):
#            data.loc[data.index[i+2],col] = np.round(((data.loc[data.index[i],col]+ data.loc[data.index[i+1],col] + data.loc[data.index[i+2],col])/3),2)
#     i += 2

In [400]:
data.head(20)

,Date_Time,altimeter_set_1,air_temp_set_1,dew_point_temperature_set_1,relative_humidity_set_1,wind_speed_set_1,wind_direction_set_1,wind_gust_set_1,cloud_layer_1_code_set_1,cloud_layer_2_code_set_1,...,NNW,NW,S,SE,SSE,SSW,SW,W,WNW,WSW
0,2015-01-01 01:15:00-05:00,30.36,35.6,35.6,100.0,0.0,0.0,19.65,481.0,499.0,...,0,0,0,0,0,0,0,0,0,0
1,2015-01-01 01:35:00-05:00,30.37,35.6,35.6,100.0,0.0,0.0,19.65,12.0,499.0,...,0,0,0,0,0,0,0,0,0,0
2,2015-01-01 01:55:00-05:00,30.37,35.6,35.6,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
3,2015-01-01 02:15:00-05:00,30.36,35.6,35.6,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
4,2015-01-01 02:35:00-05:00,30.36,35.6,35.6,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
5,2015-01-01 02:55:00-05:00,30.36,35.6,35.6,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
6,2015-01-01 03:15:00-05:00,30.37,35.6,35.6,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
7,2015-01-01 03:35:00-05:00,30.36,35.6,35.6,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
8,2015-01-01 03:55:00-05:00,30.36,35.6,35.6,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
9,2015-01-01 04:15:00-05:00,30.36,33.8,33.8,100.0,0.0,0.0,19.65,13.0,499.0,...,0,0,0,0,0,0,0,0,0,0
10,2015-01-01 04:35:00-05:00,30.35,33.8,33.8,100.0,0.0,0.0,19.65,121.0,499.0,...,0,0,0,0,0,0,0,0,0,0
11,2015-01-01 04:55:00-05:00,30.33,33.8,33.8,100.0,0.0,0.0,19.65,601.0,499.0,...,0,0,0,0,0,0,0,0,0,0
12,2015-01-01 05:15:00-05:00,30.33,33.8,33.8,100.0,0.0,0.0,19.65,601.0,499.0,...,0,0,0,0,0,0,0,0,0,0
13,2015-01-01 05:35:00-05:00,30.32,32.0,32.0,100.0,0.0,0.0,19.65,13.0,499.0,...,0,0,0,0,0,0,0,0,0,0
14,2015-01-01 05:55:00-05:00,30.32,33.8,33.8,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
15,2015-01-01 06:15:00-05:00,30.33,33.8,33.8,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
16,2015-01-01 06:35:00-05:00,30.35,33.8,33.8,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
17,2015-01-01 06:55:00-05:00,30.35,33.8,33.8,100.0,0.0,0.0,19.65,13.0,499.0,...,0,0,0,0,0,0,0,0,0,0
18,2015-01-01 07:15:00-05:00,30.35,33.8,33.8,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0
19,2015-01-01 07:35:00-05:00,30.36,33.8,33.8,100.0,0.0,0.0,19.65,14.0,499.0,...,0,0,0,0,0,0,0,0,0,0

In [401]:
# data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
#         'year': [2012, 2012, 2013, 2014, 2014], 
#         'reports': [4, 24, 31, 2, 3]}	

# df = pd.DataFrame(data)
# print(df)

m = data.shape[0]
new_df = pd.DataFrame(columns = data.columns)
columns = data.columns

for i in range(len(columns)):
    column = columns[i]
    col = []
    if column == 'Date_Time':
        i = 0
        while i in range(0,m):
            col.append(data.iloc[i][column])
            i += 3
        new_df[column] = col
        continue
    col = []
    i = 0
    while i in range(0,m):
        val1 = data.iloc[i][column]
        if i+1 < m:
            val2 = data.iloc[i+1][column]
        else:
            val2 = 0
        if i+2 < m:	
            val3 = data.iloc[i+2][column]
        else:
            val3 = 0
        avg = (val1+val2+val3)/3
        col.append(avg)
        i += 3
    new_df[column] = col
new_df.head(40)
# print(new_df)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [402]:
data.describe()

,altimeter_set_1,air_temp_set_1,dew_point_temperature_set_1,relative_humidity_set_1,wind_speed_set_1,wind_direction_set_1,wind_gust_set_1,cloud_layer_1_code_set_1,cloud_layer_2_code_set_1,visibility_set_1,...,NNW,NW,S,SE,SSE,SSW,SW,W,WNW,WSW
count,26086.000000,26086.000000,26086.000000,26086.000000,26086.000000,26086.000000,26086.00000,26086.000000,26086.000000,26086.000000,...,26086.000000,26086.000000,26086.000000,26086.000000,26086.000000,26086.000000,26086.000000,26086.000000,26086.000000,26086.000000
mean,30.087442,64.842019,56.528908,77.163482,1.628881,58.944146,19.65007,350.315495,499.068581,8.978350,...,0.015564,0.029364,0.003373,0.002760,0.001495,0.002683,0.002185,0.038756,0.059802,0.002492
std,0.167230,15.455745,14.376918,19.879723,2.760444,110.175270,0.51091,342.127709,185.086522,2.320071,...,0.123783,0.168829,0.057985,0.052465,0.038638,0.051733,0.046695,0.193018,0.237125,0.049856
min,29.620000,19.400000,1.400000,18.970000,0.000000,0.000000,9.22000,1.000000,53.000000,0.250000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,29.970000,53.600000,46.400000,62.350000,0.000000,0.000000,19.65000,64.000000,499.000000,10.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,30.080000,68.000000,60.800000,82.890000,0.000000,0.000000,19.65000,241.000000,499.000000,10.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,30.190000,75.200000,68.000000,93.890000,3.440000,60.000000,19.65000,551.750000,499.000000,10.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,30.640000,100.400000,78.800000,100.000000,23.020000,360.000000,35.68000,2501.000000,2500.000000,10.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [403]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26086 entries, 0 to 26085
Data columns (total 54 columns):
Date_Time                       26086 non-null datetime64[ns, tzlocal()]
altimeter_set_1                 26086 non-null float64
air_temp_set_1                  26086 non-null float64
dew_point_temperature_set_1     26086 non-null float64
relative_humidity_set_1         26086 non-null float64
wind_speed_set_1                26086 non-null float64
wind_direction_set_1            26086 non-null float64
wind_gust_set_1                 26086 non-null float64
cloud_layer_1_code_set_1        26086 non-null float64
cloud_layer_2_code_set_1        26086 non-null float64
visibility_set_1                26086 non-null float64
weather_cond_code_set_1         26086 non-null float64
cloud_layer_3_code_set_1        26086 non-null float64
ceiling_set_1                   26086 non-null float64
dew_point_temperature_set_1d    26086 non-null float64
wind_chill_set_1d               26086 non-null float64
pressure_set_1d                 26086 non-null float64
sea_level_pressure_set_1d       26083 non-null float64
heat_index_set_1d               26086 non-null float64
Unnamed: 22                     20 non-null object
Clear                           26086 non-null uint8
Drizzle                         26086 non-null uint8
Fog                             26086 non-null uint8
Haze                            26086 non-null uint8
Heavy Drizzle                   26086 non-null uint8
Heavy Rain                      26086 non-null uint8
Heavy Rain/Thunderstorm         26086 non-null uint8
Light Drizzle                   26086 non-null uint8
Light Rain                      26086 non-null uint8
Light Rain/Thunderstorm         26086 non-null uint8
Mist                            26086 non-null uint8
Mostly Cloudy                   26086 non-null uint8
Overcast                        26086 non-null uint8
Partly Cloudy                   26086 non-null uint8
Rain                            26086 non-null uint8
Thunder                         26086 non-null uint8
Thunderstorm                    26086 non-null uint8
Unknown Precip                  26086 non-null uint8
E                               26086 non-null uint8
ENE                             26086 non-null uint8
ESE                             26086 non-null uint8
N                               26086 non-null uint8
NE                              26086 non-null uint8
NNE                             26086 non-null uint8
NNW                             26086 non-null uint8
NW                              26086 non-null uint8
S                               26086 non-null uint8
SE                              26086 non-null uint8
SSE                             26086 non-null uint8
SSW                             26086 non-null uint8
SW                              26086 non-null uint8
W                               26086 non-null uint8
WNW                             26086 non-null uint8
WSW                             26086 non-null uint8
dtypes: datetime64[ns, tzlocal()](1), float64(18), object(1), uint8(34)
memory usage: 4.8+ MB

In [404]:
data.columns

Index(['Date_Time', 'altimeter_set_1', 'air_temp_set_1',
       'dew_point_temperature_set_1', 'relative_humidity_set_1',
       'wind_speed_set_1', 'wind_direction_set_1', 'wind_gust_set_1',
       'cloud_layer_1_code_set_1', 'cloud_layer_2_code_set_1',
       'visibility_set_1', 'weather_cond_code_set_1',
       'cloud_layer_3_code_set_1', 'ceiling_set_1',
       'dew_point_temperature_set_1d', 'wind_chill_set_1d', 'pressure_set_1d',
       'sea_level_pressure_set_1d', 'heat_index_set_1d', 'Unnamed: 22',
       'Clear', 'Drizzle', 'Fog', 'Haze', 'Heavy Drizzle', 'Heavy Rain',
       'Heavy Rain/Thunderstorm', 'Light Drizzle', 'Light Rain',
       'Light Rain/Thunderstorm', 'Mist', 'Mostly Cloudy', 'Overcast',
       'Partly Cloudy', 'Rain', 'Thunder', 'Thunderstorm', 'Unknown Precip',
       'E', 'ENE', 'ESE', 'N', 'NE', 'NNE', 'NNW', 'NW', 'S', 'SE', 'SSE',
       'SSW', 'SW', 'W', 'WNW', 'WSW'],
      dtype='object')

In [405]:
data = data.drop(columns='Unnamed: 22')

In [406]:
m = data.shape[0]
new_df = pd.DataFrame(columns = data.columns)
columns = data.columns

for i in range(len(columns)):
    column = columns[i]
    col = []
    if column == 'Date_Time':
        i = 0
        while i in range(0,m):
            col.append(data.iloc[i][column])
            i += 3
        new_df[column] = col
        continue
    col = []
    i = 0
    while i in range(0,m):
        val1 = data.iloc[i][column]
        if i+1 < m:
            val2 = data.iloc[i+1][column]
        else:
            val2 = 0
        if i+2 < m:	
            val3 = data.iloc[i+2][column]
        else:
            val3 = 0
        avg = (val1+val2+val3)/3
        col.append(avg)
        i += 3
    new_df[column] = col
new_df.head(40)
# print(new_df)

,Date_Time,altimeter_set_1,air_temp_set_1,dew_point_temperature_set_1,relative_humidity_set_1,wind_speed_set_1,wind_direction_set_1,wind_gust_set_1,cloud_layer_1_code_set_1,cloud_layer_2_code_set_1,...,NNW,NW,S,SE,SSE,SSW,SW,W,WNW,WSW
0,2015-01-01 01:15:00-05:00,30.366667,35.6,35.6,100.000000,0.0,0.0,19.65,169.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2015-01-01 02:15:00-05:00,30.360000,35.6,35.6,100.000000,0.0,0.0,19.65,14.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2015-01-01 03:15:00-05:00,30.363333,35.6,35.6,100.000000,0.0,0.0,19.65,14.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2015-01-01 04:15:00-05:00,30.346667,33.8,33.8,100.000000,0.0,0.0,19.65,245.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2015-01-01 05:15:00-05:00,30.323333,33.2,33.2,100.000000,0.0,0.0,19.65,209.333333,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2015-01-01 06:15:00-05:00,30.343333,33.8,33.8,100.000000,0.0,0.0,19.65,13.666667,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2015-01-01 07:15:00-05:00,30.360000,33.8,33.8,100.000000,0.0,0.0,19.65,13.666667,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2015-01-01 08:15:00-05:00,30.366667,34.4,34.4,100.000000,0.0,0.0,19.65,51.333333,243.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2015-01-01 09:15:00-05:00,30.376667,39.8,39.2,97.766667,0.0,0.0,19.65,57.666667,372.666667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2015-01-01 10:15:00-05:00,30.373333,44.6,40.4,85.410000,0.0,0.0,19.65,407.666667,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,2015-01-01 11:15:00-05:00,30.350000,50.0,39.8,67.880000,0.0,0.0,19.65,447.666667,419.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,2015-01-01 12:15:00-05:00,30.303333,53.0,42.2,66.740000,0.0,0.0,19.65,567.666667,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,2015-01-01 13:15:00-05:00,30.283333,55.4,40.4,56.976667,0.0,0.0,19.65,267.666667,459.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,2015-01-01 14:15:00-05:00,30.266667,57.8,37.4,46.470000,0.0,0.0,19.65,397.666667,486.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,2015-01-01 15:15:00-05:00,30.260000,58.4,38.6,47.653333,0.0,0.0,19.65,354.333333,459.666667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,2015-01-01 16:15:00-05:00,30.266667,54.8,42.8,64.080000,0.0,0.0,19.65,561.000000,686.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,2015-01-01 17:15:00-05:00,30.266667,52.4,45.2,76.523333,0.0,0.0,19.65,401.000000,463.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,2015-01-01 18:15:00-05:00,30.283333,50.0,45.2,83.533333,0.0,0.0,19.65,471.000000,616.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,2015-01-01 19:15:00-05:00,30.300000,47.6,44.6,89.470000,0.0,0.0,19.65,918.333333,599.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,2015-01-01 20:15:00-05:00,30.313333,47.6,44.6,89.320000,0.0,0.0,19.65,875.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,2015-01-01 21:15:00-05:00,30.320000,48.2,46.4,93.450000,0.0,0.0,19.65,1103.000000,733.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,2015-01-01 22:15:00-05:00,30.343333,50.0,45.2,83.803333,0.0,0.0,19.65,1037.333333,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,2015-01-01 23:15:00-05:00,30.333333,49.4,45.2,85.556667,0.0,0.0,19.65,970.666667,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,2015-01-02 00:15:00-05:00,30.310000,50.0,42.8,76.180000,0.0,0.0,19.65,1037.000000,733.666667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,2015-01-02 01:15:00-05:00,30.286667,47.6,42.8,83.383333,0.0,0.0,19.65,561.666667,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,2015-01-02 02:15:00-05:00,30.280000,47.0,44.0,89.426667,0.0,0.0,19.65,855.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,2015-01-02 03:15:00-05:00,30.280000,45.2,44.6,97.800000,0.0,0.0,19.65,521.333333,426.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,2015-01-02 04:15:00-05:00,30.283333,44.6,44.6,100.000000,0.0,0.0,19.65,1035.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,2015-01-02 05:15:00-05:00,30.290000,44.6,44.6,100.000000,0.0,0.0,19.65,211.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,2015-01-02 06:15:00-05:00,30.290000,44.6,44.6,100.000000,0.0,0.0,19.65,934.666667,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,2015-01-02 07:15:00-05:00,30.280000,44.6,44.6,100.000000,0.0,0.0,19.65,387.666667,389.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,2015-01-02 08:15:00-05:00,30.310000,45.8,44.6,95.600000,0.0,0.0,19.65,852.666667,472.666667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,2015-01-02 09:15:00-05:00,30.326667,46.4,45.2,95.600000,0.0,0.0,19.65,1104.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,2015-01-02 10:15:00-05:00,30.300000,49.4,46.4,89.403333,0.0,0.0,19.65,1136.000000,733.666667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,2015-01-02 11:15:00-05:00,30.333333,50.0,47.6,91.460000,0.0,0.0,19.65,232.333333,612.666667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35,2015-01-02 12:15:00-05:00,30.313333,50.0,48.8,95.666667,0.0,0.0,19.65,233.333333,395.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,2015-01-02 13:15:00-05:00,30.290000,51.2,50.0,95.700000,0.0,0.0,19.65,220.333333,437.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37,2015-01-02 14:15:00-05:00,30.296667,51.8,50.0,93.550000,0.0,0.0,19.65,213.333333,605.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,2015-01-02 15:15:00-05:00,30.310000,53.6,50.0,87.570000,0.0,0.0,19.65,214.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39,2015-01-02 16:15:00-05:00,30.300000,52.4,50.6,93.706667,0.0,0.0,19.65,372.666667,606.666667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [407]:
new_df.columns

Index(['Date_Time', 'altimeter_set_1', 'air_temp_set_1',
       'dew_point_temperature_set_1', 'relative_humidity_set_1',
       'wind_speed_set_1', 'wind_direction_set_1', 'wind_gust_set_1',
       'cloud_layer_1_code_set_1', 'cloud_layer_2_code_set_1',
       'visibility_set_1', 'weather_cond_code_set_1',
       'cloud_layer_3_code_set_1', 'ceiling_set_1',
       'dew_point_temperature_set_1d', 'wind_chill_set_1d', 'pressure_set_1d',
       'sea_level_pressure_set_1d', 'heat_index_set_1d', 'Clear', 'Drizzle',
       'Fog', 'Haze', 'Heavy Drizzle', 'Heavy Rain', 'Heavy Rain/Thunderstorm',
       'Light Drizzle', 'Light Rain', 'Light Rain/Thunderstorm', 'Mist',
       'Mostly Cloudy', 'Overcast', 'Partly Cloudy', 'Rain', 'Thunder',
       'Thunderstorm', 'Unknown Precip', 'E', 'ENE', 'ESE', 'N', 'NE', 'NNE',
       'NNW', 'NW', 'S', 'SE', 'SSE', 'SSW', 'SW', 'W', 'WNW', 'WSW'],
      dtype='object')

In [408]:
new_df['N'].unique()

array([1.        , 0.66666667, 0.33333333, 0.        ])

In [414]:
# new_df.assign(Date=new_df.Date_Time.dt.round('H'))
new_df = new_df.set_index('Date_Time').resample('H').last().reset_index()

In [415]:
new_df.head(10)

,Date_Time,altimeter_set_1,air_temp_set_1,dew_point_temperature_set_1,relative_humidity_set_1,wind_speed_set_1,wind_direction_set_1,wind_gust_set_1,cloud_layer_1_code_set_1,cloud_layer_2_code_set_1,...,NW,S,SE,SSE,SSW,SW,W,WNW,WSW,Date
0,2015-01-01 01:00:00-05:00,30.366667,35.6,35.6,100.000000,0.0,0.0,19.65,169.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01 01:00:00-05:00
1,2015-01-01 02:00:00-05:00,30.360000,35.6,35.6,100.000000,0.0,0.0,19.65,14.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01 02:00:00-05:00
2,2015-01-01 03:00:00-05:00,30.363333,35.6,35.6,100.000000,0.0,0.0,19.65,14.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01 03:00:00-05:00
3,2015-01-01 04:00:00-05:00,30.346667,33.8,33.8,100.000000,0.0,0.0,19.65,245.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01 04:00:00-05:00
4,2015-01-01 05:00:00-05:00,30.323333,33.2,33.2,100.000000,0.0,0.0,19.65,209.333333,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01 05:00:00-05:00
5,2015-01-01 06:00:00-05:00,30.343333,33.8,33.8,100.000000,0.0,0.0,19.65,13.666667,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01 06:00:00-05:00
6,2015-01-01 07:00:00-05:00,30.360000,33.8,33.8,100.000000,0.0,0.0,19.65,13.666667,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01 07:00:00-05:00
7,2015-01-01 08:00:00-05:00,30.366667,34.4,34.4,100.000000,0.0,0.0,19.65,51.333333,243.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01 08:00:00-05:00
8,2015-01-01 09:00:00-05:00,30.376667,39.8,39.2,97.766667,0.0,0.0,19.65,57.666667,372.666667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01 09:00:00-05:00
9,2015-01-01 10:00:00-05:00,30.373333,44.6,40.4,85.410000,0.0,0.0,19.65,407.666667,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2015-01-01 10:00:00-05:00

In [416]:
new_df.shape[0]

8760

In [419]:
new_df.to_csv('data.csv')

In [422]:
so2_data = pd.read_csv('hourly_SO2_2015.csv')

In [423]:
so2_data.head(20)

    index  PPM            Date_Time
0       0  1.0  2015-01-01 00:00:00
1       1  1.0  2015-01-01 01:00:00
2       2  1.0  2015-01-01 02:00:00
3       3  1.0  2015-01-01 03:00:00
4       4  1.0  2015-01-01 04:00:00
5       5  1.0  2015-01-01 05:00:00
6       6  1.0  2015-01-01 06:00:00
7       7  1.0  2015-01-01 07:00:00
8       8  1.0  2015-01-01 08:00:00
9       9  1.0  2015-01-01 09:00:00
10     10  1.0  2015-01-01 10:00:00
11     11  1.0  2015-01-01 11:00:00
12     12  1.0  2015-01-01 12:00:00
13     13  1.0  2015-01-01 13:00:00
14     14  1.0  2015-01-01 14:00:00
15     15  1.0  2015-01-01 15:00:00
16     16  1.0  2015-01-01 16:00:00
17     17  1.0  2015-01-01 17:00:00
18     18  1.0  2015-01-01 18:00:00
19     19  1.0  2015-01-01 19:00:00

In [425]:
so2_data = so2_data.drop(columns = 'index')

In [426]:
so2_data.head(10)

   PPM            Date_Time
0  1.0  2015-01-01 00:00:00
1  1.0  2015-01-01 01:00:00
2  1.0  2015-01-01 02:00:00
3  1.0  2015-01-01 03:00:00
4  1.0  2015-01-01 04:00:00
5  1.0  2015-01-01 05:00:00
6  1.0  2015-01-01 06:00:00
7  1.0  2015-01-01 07:00:00
8  1.0  2015-01-01 08:00:00
9  1.0  2015-01-01 09:00:00

In [427]:
so2_data['PPM'].unique()

array([ 1. ,  1.7,  2.4,  2.1,  1.9,  1.1,  1.2,  1.3,  2.9,  3.1,  2. ,
        1.4,  3.6,  4.6,  3.4,  1.5,  2.6,  5.1,  6.3,  8.2,  7. ,  4. ,
        5.2,  2.5,  1.6,  1.8,  2.7,  2.2,  3.3,  5.5,  4.7,  3.5,  3.7,
       10.2,  6. ,  4.3,  3.8,  8.4, 13.1,  4.5,  8.9,  0.5,  0.4,  0.3,
        3.9,  6.7,  6.9, 10.5])

In [428]:
so2_data['PPM'].describe()

count    8609.000000
mean        1.023859
std         0.339353
min         0.300000
25%         1.000000
50%         1.000000
75%         1.000000
max        13.100000
Name: PPM, dtype: float64

In [429]:
df_inner = pd.merge(new_df, so2_data, on='Date_Time', how='inner')
df_inner

ValueError: You are trying to merge on datetime64[ns, tzlocal()] and object columns. If you wish to proceed you should use pd.concat

In [434]:
df_merge_asof = pd.merge_asof(new_df, so2_data,
              on='Date_Time',
              by='altimeter_set_1')

df_merge_asof

KeyError: 'altimeter_set_1'

In [437]:
# new_df['Date_Time'] = new_df['Date_Time'].astype('str')
so2_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8609 entries, 0 to 8608
Data columns (total 2 columns):
PPM          8609 non-null float64
Date_Time    8609 non-null object
dtypes: float64(1), object(1)
memory usage: 134.6+ KB

In [441]:
new_df['Date_Time'] = new_df['Date_Time'].astype('datetime64[ns]')
so2_data['Date_Time'] = so2_data['Date_Time'].astype('datetime64[ns]')
# df['Date'] = df['Date'].astype('datetime64[ns]')

In [442]:
df_inner = pd.merge(new_df, so2_data, on='Date_Time', how='inner')
df_inner

,Date_Time,altimeter_set_1,air_temp_set_1,dew_point_temperature_set_1,relative_humidity_set_1,wind_speed_set_1,wind_direction_set_1,wind_gust_set_1,cloud_layer_1_code_set_1,cloud_layer_2_code_set_1,...,S,SE,SSE,SSW,SW,W,WNW,WSW,Date,PPM
0,2015-01-01 06:00:00,30.366667,35.6,35.6,100.000000,0.000000,0.000000,19.65,169.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-01-01 01:00:00-05:00,1.0
1,2015-01-01 07:00:00,30.360000,35.6,35.6,100.000000,0.000000,0.000000,19.65,14.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-01-01 02:00:00-05:00,1.0
2,2015-01-01 08:00:00,30.363333,35.6,35.6,100.000000,0.000000,0.000000,19.65,14.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-01-01 03:00:00-05:00,1.0
3,2015-01-01 09:00:00,30.346667,33.8,33.8,100.000000,0.000000,0.000000,19.65,245.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-01-01 04:00:00-05:00,1.0
4,2015-01-01 10:00:00,30.323333,33.2,33.2,100.000000,0.000000,0.000000,19.65,209.333333,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-01-01 05:00:00-05:00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8598,2015-12-31 19:00:00,30.090000,62.6,59.0,88.020000,0.000000,0.000000,19.65,72.000000,440.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-12-31 15:00:00-05:00,1.0
8599,2015-12-31 20:00:00,30.100000,62.6,60.2,91.900000,0.000000,0.000000,19.65,654.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-12-31 16:00:00-05:00,1.0
8600,2015-12-31 21:00:00,30.113333,62.6,60.2,91.900000,1.536667,96.666667,19.65,753.000000,835.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,2015-12-31 17:00:00-05:00,1.0
8601,2015-12-31 22:00:00,30.126667,60.8,56.6,86.093333,2.683333,196.666667,19.65,753.333333,819.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.666667,0.0,2015-12-31 18:00:00-05:00,1.0
8602,2015-12-31 23:00:00,30.140000,59.0,57.2,93.750000,0.000000,0.000000,19.65,752.666667,1003.666667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-12-31 19:00:00-05:00,1.0

In [443]:
df_inner.columns

Index(['Date_Time', 'altimeter_set_1', 'air_temp_set_1',
       'dew_point_temperature_set_1', 'relative_humidity_set_1',
       'wind_speed_set_1', 'wind_direction_set_1', 'wind_gust_set_1',
       'cloud_layer_1_code_set_1', 'cloud_layer_2_code_set_1',
       'visibility_set_1', 'weather_cond_code_set_1',
       'cloud_layer_3_code_set_1', 'ceiling_set_1',
       'dew_point_temperature_set_1d', 'wind_chill_set_1d', 'pressure_set_1d',
       'sea_level_pressure_set_1d', 'heat_index_set_1d', 'Clear', 'Drizzle',
       'Fog', 'Haze', 'Heavy Drizzle', 'Heavy Rain', 'Heavy Rain/Thunderstorm',
       'Light Drizzle', 'Light Rain', 'Light Rain/Thunderstorm', 'Mist',
       'Mostly Cloudy', 'Overcast', 'Partly Cloudy', 'Rain', 'Thunder',
       'Thunderstorm', 'Unknown Precip', 'E', 'ENE', 'ESE', 'N', 'NE', 'NNE',
       'NNW', 'NW', 'S', 'SE', 'SSE', 'SSW', 'SW', 'W', 'WNW', 'WSW', 'Date',
       'PPM'],
      dtype='object')

In [444]:
so2_data = so2_data.set_index('Date_Time').resample('H').last().reset_index()

In [445]:
df_inner = pd.merge(new_df, so2_data, on='Date_Time', how='inner')
df_inner

,Date_Time,altimeter_set_1,air_temp_set_1,dew_point_temperature_set_1,relative_humidity_set_1,wind_speed_set_1,wind_direction_set_1,wind_gust_set_1,cloud_layer_1_code_set_1,cloud_layer_2_code_set_1,...,S,SE,SSE,SSW,SW,W,WNW,WSW,Date,PPM
0,2015-01-01 06:00:00,30.366667,35.6,35.6,100.000000,0.000000,0.000000,19.65,169.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-01-01 01:00:00-05:00,1.0
1,2015-01-01 07:00:00,30.360000,35.6,35.6,100.000000,0.000000,0.000000,19.65,14.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-01-01 02:00:00-05:00,1.0
2,2015-01-01 08:00:00,30.363333,35.6,35.6,100.000000,0.000000,0.000000,19.65,14.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-01-01 03:00:00-05:00,1.0
3,2015-01-01 09:00:00,30.346667,33.8,33.8,100.000000,0.000000,0.000000,19.65,245.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-01-01 04:00:00-05:00,1.0
4,2015-01-01 10:00:00,30.323333,33.2,33.2,100.000000,0.000000,0.000000,19.65,209.333333,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-01-01 05:00:00-05:00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8749,2015-12-31 19:00:00,30.090000,62.6,59.0,88.020000,0.000000,0.000000,19.65,72.000000,440.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-12-31 15:00:00-05:00,1.0
8750,2015-12-31 20:00:00,30.100000,62.6,60.2,91.900000,0.000000,0.000000,19.65,654.000000,499.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-12-31 16:00:00-05:00,1.0
8751,2015-12-31 21:00:00,30.113333,62.6,60.2,91.900000,1.536667,96.666667,19.65,753.000000,835.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,2015-12-31 17:00:00-05:00,1.0
8752,2015-12-31 22:00:00,30.126667,60.8,56.6,86.093333,2.683333,196.666667,19.65,753.333333,819.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.666667,0.0,2015-12-31 18:00:00-05:00,1.0
8753,2015-12-31 23:00:00,30.140000,59.0,57.2,93.750000,0.000000,0.000000,19.65,752.666667,1003.666667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,2015-12-31 19:00:00-05:00,1.0

In [458]:
df_inner.columns
df_inner = df_inner.drop(columns = 'Date_Time')
df_inner = df_inner.drop(columns = 'Date')

In [446]:
# df_inner.to_csv('joined_data.csv')

In [1]:
import pandas as pd
import numpy as np
import math
df_inner = pd.read_csv('joined_data.csv')
df_inner.columns
df_inner = df_inner.drop(columns = 'Date_Time')
df_inner = df_inner.drop(columns = 'Date')

In [ ]:
df = df[pd.notnull(df['EPS'])]

In [2]:
df_inner.columns
for col in df_inner.columns:
    df_inner = df_inner[pd.notnull(df_inner[col])]
df_inner.shape

(8535, 54)

In [218]:
import numpy as np
from numpy import linalg as la
from math import pow

def loss_function(x, y, w, m):
    loss = 0
    for i in range(0,m):
        loss += pow((np.inner(w,x[i]) - y[i]), 2)
    loss /= m
    loss *= pow(10,-20)
    return loss

def regularization_term(w, reg_param):
    """
    Computes a regularization term
    (helps in finding a hypothesis satisfying Occam-Razor principle) 
    :param w: parameter vector
    :param reg_param: lambda, the regularization parameter
    :return: regularization term --> lambda * square of l2 norm   
    """
    norm = la.norm(w)
    term = reg_param*pow(norm, 2)
    return term

# def gradient(x, y, w, m, d, reg_param):
#     grad = np.zeros((1,d+1))
# #     print(x[0][0])
#     for i in range(0,m):
# #         print(x[i])
#         xt = x[i].T
#         temp = xt.dot(np.inner(w,xt) - y[i])
#         grad += temp
# #         print(grad)
#     grad *= (2.0 / m)
# #     grad[0] += (2 * reg_param) * la.norm(w)
# #     print(grad)
#     return grad


# def gradient_descent(x, y, m, d, learning_rate, reg_param):
#     iterations = 10
#     w = np.zeros((1,d+1))
# #     print("hello")
#     w_opt = w 
#     for i in range(iterations):
#         # obj_fn = loss_function(x,y,w) + regularization_term(w)
#         print(gradient(x, y, w, m, d, reg_param))
#         w = w - learning_rate * gradient(x, y, w, m, d, reg_param)
#         w_opt += w
#     w_opt /= iterations
#     return w_opt
# #     return w


def gradient_descent(x, y, m, d, learning_rate, reg_param):
    iterations = 10
    

def fit(x_train, y_train):
    """
    Finds the appropriate parameters (w,b) such that y = <w,x> + b
    :param x_train: the training examples 
    :param y_train: the corresponding targets
    :return:   
    """
    # dim(x_train) : m x d 
    # dim(y_train) : m x 1 
    
    m = y_train.shape[0] # number of samples
    d = x_train.shape[1] # size of feature space
    
    ones = np.ones((m,1)) # for affine to homogeneous conversion
    
    x = np.hstack((x_train,ones)) # dim : m x (d+1) 
    y = y_train # dim : m x 1 
    
    learning_rate = 0.001
    reg_param = 0.01
    w_opt = gradient_descent(x, y, m, d, learning_rate, reg_param)
#     print(w_opt)
    loss_opt = loss_function(x, y, w_opt, m)
#     print(loss_opt)
    reg = regularization_term(w_opt, reg_param)
#     print(reg)
    obj_fn_opt =  loss_opt + reg
#     print(obj_fn_opt)

    return w_opt

def data_frame_to_numpy(df_inner):
#     print(df_inner.columns)
    output = df_inner['PPM']
    df_inner = df_inner.drop(columns = 'PPM')
    return df_inner.to_numpy(), (output).to_numpy()

x,y = data_frame_to_numpy(df_inner)
# print(x)
# print(y)
# w_opt = fit(x, y)
# print(w_opt)

In [219]:
print(x.shape)

(8535, 53)

In [220]:
print(y.shape)

(8535,)

In [221]:
w_opt = fit(x, y)
print(w_opt)

ValueError: shapes (54,) and (1,) not aligned: 54 (dim 0) != 1 (dim 0)

In [ ]:
df_inner=((df_inner-df_inner.min())/(df_inner.max()-df_inner.min()))

def data_frame_to_numpy(df_inner):
#     print(df_inner.columns)
    output = df_inner['PPM']
    df_inner = df_inner.drop(columns = 'PPM')
    return df_inner.to_numpy(), (output).to_numpy()
# m = len(math)
# x0 = np.ones(m)
# X = np.array([x0, math, read]).T
# # Initial Coefficients
# B = np.array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])
B = np.zeros((1,54)).T
# Y = np.array(df_inner['PPM'].values)
alpha = 0.0000000001
X,Y = x,y = data_frame_to_numpy(df_inner)
m = 8535
ones = np.ones((m,1)) # for affine to homogeneous conversion
# print(X.shape)
X = np.hstack((X,ones))
# print(X.shape)
def cost_function(X, Y, B):
    m = len(Y)
    J = np.sum((X.dot(B) - Y) ** 2)/(2 * m)
    return J

inital_cost = cost_function(X, Y, B)
print(inital_cost)

def gradient_descent(X, Y, B, alpha, iterations):
    cost_history = [0] * iterations
    m = len(Y)
    
    for iteration in range(iterations):
        # Hypothesis Values
        h = X.dot(B)
        # Difference b/w Hypothesis and Actual Y
        loss = h - Y
        # Gradient Calculation
        gradient = X.T.dot(loss) / m
        # Changing Values of B using Gradient
        B = B - alpha * gradient
        # New Cost Value
        cost = cost_function(X, Y, B)
        cost_history[iteration] = cost
        
    return B, cost_history

# 100000 Iterations
newB, cost_history = gradient_descent(X, Y, B, alpha, 100)

# New Values of B
print(newB)

# Final Cost of new B
print(cost_history[-1])

# print(X[0].dot(newB)-Y[0])

16.681640625